input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 white inset !important;
  box-shadow: 0 0 0 0 white inset !important;
};

#question-link:hover {
    text-decoration: underline;
}



.search-container:focus {
    width:4000px
}

.search-container{
    
    width:200px;
    height:20px;
    padding:5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    border:2px solid black;
};



.search-form{
    border: 0;
    outline: none;
    background-color:transparent;

}

#search-input{
    border: 0;
    outline: none;
    background-color:transparent;
  
};

.search-return{
    align-items: center;
    justify-content: center;
    background-color:white;
    padding:2px;
    margin:auto;

  
}

.search-result-container{
    border:1px solid black;
    background-color:white;
    padding:2px;
    margin:auto;
    

}
#search-result-user{
    flex-direction: row;
    margin:5px


}

.search-result-question{
    margin:5px;
    border:1px solid
}