.search-container{
    width:100%;
    min-height:100vh;
    padding:5%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    border:solid 30px 30px
 
};

.search-form{
    width:100%;
    border:none;
    border-radius: 60px;
    padding: 10px 20px;
    border: none

}
