<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Instrument</title>
</head>
<body>
    <form method="post" action="/api/questions/question_form">
        {{ form.csrf_token }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div>
            {{ form.body.label }}
            {{ form.body }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>
